<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noodp"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./favicon-76.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./favicon-120.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./favicon-152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./favicon-180.png') %>">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
